@import "~@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "~@patternfly/patternfly/assets/fonts";
$fa-font-path: "~@patternfly/patternfly/assets/fonts/webfonts";
$pf-global--fonticon-path: "~@patternfly/patternfly/assets/pficon";
$pf-global--image-path: "~@patternfly/patternfly/assets/images";

@import "~@patternfly/patternfly/patternfly.scss";
@import "~@patternfly/patternfly/patternfly-addons.scss";

.pf-c-page--background::before {
  content: "";
  background: url("/bg.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(7.5px);
  height: 100%;
  width: 100%;
  position: fixed;
  transform: scale(1.1);
}

.pf-c-page__main-section--transparent {
  background: transparent !important;
  max-height: 100%;
}

.pf-c-drawer__panel--transparent {
  @media screen and (min-width: 768px) {
    background: rgb(255 255 255 / 0.75) !important;
  }
}

.pf-c-card--them,
.pf-c-card--us {
  max-width: 66%;
  width: fit-content;
}

.pf-c-card--us {
  margin-left: auto;
  background: var(--pf-global--BackgroundColor--dark-300) !important;
  color: var(--pf-global--BackgroundColor--100);
}

.pf-c-date {
  @extend .pf-u-icon-color-light;
  @extend .pf-u-mr-xs;

  width: fit-content;
}

.pf-c-toolbar--sticky-bottom {
  margin-top: auto !important;
}

.pf-c-overflow-y {
  overflow-y: auto;
}

.pf-c-search--main input {
  min-width: 0;
}

.pf-u-contact-selector {
  width: calc(100% - 1rem);

  &.pf-m-active {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.075) !important;
  }
}

.pf-x-login-page {
  background: rgb(255 255 255 / 0.6) !important;
}

.pf-x-logo {
  max-width: 22.5rem;
  width: 100%;
}

.pf-x-subtitle {
  color: #414346;
  text-align: center;
}

.pf-x-ctas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pf-x-account-actions {
  display: flex;

  span {
    display: flex;
  }
}

.pf-x-logo--about {
  width: 100%;
  max-width: 22.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pf-x-footer a {
  color: unset;
}

.pf-m-primary {
  background: var(--pf-global--BackgroundColor--dark-300) !important;

  &:hover {
    background: var(--pf-global--BackgroundColor--dark-200) !important;
  }
}

.pf-m-link {
  color: var(--pf-global--BackgroundColor--dark-300) !important;

  &:hover {
    color: var(--pf-global--BackgroundColor--dark-200) !important;
  }
}
